.App {
  padding: 24px;
  background: #ffc0cb4d;
}

.firstCard {
  position: relative;
}

.button {
  position: absolute;
  right: 24px;
  top: 1px;
  background: black;
  color: white;
  border: 1px solid black;
  padding: 4px 8px;
}

.book {
  padding: 24px;
  text-align: center;
}